<link rel="stylesheet" id="cf_styles-css" href="/cdn-cgi/styles/main.css" type="text/css" media="screen,projection" >
<style>
  html,
body {
  height: 100%;
}
body {
  margin: auto;
  font-family: sans-serif;
  font-weight: 1000;
  background-size: auto;
  
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
table {
  width: 1000px;
  height: 450px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  border: 4px;
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color:black;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;

}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.headings {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
  color: rgb(255, 162, 40);
  font-weight: bold;
}
  </style>
{% extends 'index.html' %}

{% block content %}
<h1 class="headings">Schedule</h1>
<div>
<table>
  <thead>
  <tr>
    <th><strong>Course Name</strong></th>
    <th><strong>Exam Date</strong></th>
    <th><strong>Exam Time</strong></th>
    <th><strong>Exam Type</strong></th>
  </tr>
</thead>
<tbody>

{% for j in join %}
{% if j.Roll_no == auth %}
{% for d in date %}
{% if d.Exam_ID == j.Exam_ID %}
<tr>
  <td>{{d.Course_Name}}</td>
  <td>{{d.Exam_date}}</td>
  <td>{{d.Exam_Time}}</td>
  <td>{{d.Exam_Type}}</td>
</tr>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}